#wraper{
	width: 1440px;
	margin: 0 auto;
}
*{
	margin: 0;
	padding: 0;
}
#header{
	width: 100%;
	height: 80px;
	background-color: #1598E3;
}
#header p{
	font-size: 25px;
	font-weight: bold;
}
#brand{
	width: 19%;
	height: 30px;
	background-color: #1CF9F6;
	text-align: center;
	float: left;
	margin-right: 1%;
	margin-left: 1%;
	padding-top: 10px;
}
#global{
	width: 48%;
	height: 30px;
	background-color: #1CF9F6;
	float: left;
	text-align: center;
	padding-top: 10px;
}
#tool{
	width: 29%;
	height: 30px;
	background-color: #1CF9F6;
	float: left;
	margin-left: 1%;
	text-align: center;
	padding-top: 10px;
}
#hero{
	width: 69%;
	height: 120px;
	background-color: #1598E3; 
	float: left;
	margin-right: 1%;
	margin-top: 5px;
}
#hero p{
	font-size: 25px;
	font-weight: bold;
}
#feature{
	width: 68%;
	height: 55px;
	background-color: #1CF9F6;
	float: left;
	margin-right: 1%;
	text-align: center;
	padding-top: 30px;
	margin-left: 1%
}
#action{
	width: 29%;
	height: 55px;
	background-color: #1CF9F6;
	float: left;
	padding-top: 30px;
	text-align: center;
	margin-right: 1%;
}
#ad{
	width: 30%;
	height: 120px;
	background-color: #05026A;
	float: left;
	margin-top: 5px;
}
#ad p{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-top: 50px;
}
#body{
	width: 69%;
	height: 350px;
	background-color: #1598E3; 
	float: left;
	margin-right: 1%;
	margin-top: 5px;
	margin-bottom: 5px;
}
#body p{
	font-size: 25px;
	font-weight: bold;
}
.article1{
	width: 29%;
	height: 180px;
	background-color: #1CF9F6;
	float: left;
	padding-top: 120px;
	text-align: center;
	margin-left: 1%;
}
.article2{
	width: 67%;
	height: 180px;
	background-color: #1CF9F6;
	float: left;
	text-align: center;
	padding-top: 120px;
	margin-right: 1%;
	margin-left: 2%;
}
#sidebar{
	width: 30%;
	height: 350px;
	background-color: #1598E3;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}
#sidebar p{
	font-size: 25px;
	font-weight: bold;
}
.sidebarfeature{
	width: 96%;
	height: 180px;
	background-color: #1CF9F6;
	float: left;
	text-align: center;
	padding-top: 120px;
	margin-right: 2%;
	margin-left: 2%;
}
#footer{
	width: 100%;
	height: 80px;
	background-color: #1598E3;
	clear: both;
}
#footer p{
	font-size: 25px;
	font-weight: bold;
}
